body {

}

.user_board{
    color: white; 
    height: 64px; 
    background-color: black; 
    text-align: center; 
    font-size: 4ex; 
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.user_board_button{
    top: 0px; position: fixed;
}

.user_board_text{
    top: 0%; position: absolute; text-align: center;
}

.center_box{
    width: 60%; height: 70%; background-color: black; margin: 8% auto; opacity: 1;
}

.center_box_text{
    text-align: center; padding: 2ex; font-size: 4ex; margin: 0; color: gray; opacity: 1;
}

.blogpost_string_elem{
    width: 75%; background-color: black; margin: 8%; opacity: 0;
}

.blogpost_string_elem_text{
    text-align: center; padding: 1ex; font-size: 4ex; margin: 0; color: gray; opacity: 75;
}